$color-black: #000;
$color-white: #fff;
$color-yellow: #ffcc0d;
$color-light-bg: #eee;
$color-border-bold: .5rem solid $color-black;
$color-border-light: .2rem solid $color-black;


/*$content-width: 1399px;
$tablet-width: 1199px;*/
$tablet-small-width: 991px;
/*$mobile-width: 767px;*/
$mobile-small-width: 450px;
