.about .biography p {
    margin: 2rem auto;
    line-height: 2;
    font-size: 1.7rem;
}

.about .biography .bio {
    margin-top: 1rem 0;
}

.about .biography .bio h3 {
    padding: 1rem 2rem;
    display: inline-block;
    margin: 1rem ;
    background-color: $color-light-bg;
    border: $color-border-light;
    word-break: break-all;
    font-size: 2.5rem;
    font-weight: normal;
    text-transform: none;
    @include media-mobilesmall {
        font-size: 2rem;
    }
}

.about .biography .bio h3 span {
    font-weight: lighter;
}

.about .skills {
    margin: 3rem 0;
}

.about .skills .progress {
    margin-top: 1rem;
    margin-bottom: 8rem;
}

.about .skills .progress .bar {
    margin: 1rem auto;
    max-width: 70rem;
    border: $color-border-bold;
    padding: 1rem;
}

.about .skills .progress .bar h3 {
    font-size: 2rem;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $color-yellow;
}

.about .skills .progress .bar span {
    font-weight: normal;   
}

.about .skills .progress .bar:nth-child(1) h3 {
    width: 95%;
}

.about .skills .progress .bar:nth-child(2) h3 {
    width: 90%;
}

.about .skills .progress .bar:nth-child(3) h3 {
    width: 85%;
}

.about .skills .progress .bar:nth-child(4) h3 {
    width: 55%;
}

.about .skills .progress .bar:nth-child(5) h3 {
    width: 45%;
}

.about .edu-exp .row {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.about .edu-exp .row .box-container {
    flex: 1 1 40rem; 
}

.about .edu-exp .row .box-container .title {
    padding: 1.5rem;
    font-size: 3rem;
    background-color: $color-yellow;
}

.about .edu-exp .row .box-container .box {
    text-align: left;
    margin: 1.5rem 0;
    background-color: $color-light-bg;
    padding: 2rem;
    height: 200px;
}

.about .edu-exp .row .box-container .box span {
    font-size: 1.5rem;
}

.about .edu-exp .row .box-container .box h3 {
    font-size: 2.5rem;
    font-weight: normal;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
}

.about .edu-exp .row .box-container .box p {
    line-height: 2;
    font-size: 1.7rem;
}

.content__txt {
    text-transform: none;
    font-size: 16px;
}

